bo
<div class="product-details">
    <h1><%= product.name %></h1>
    <img src="/images/<%= product.image %>" alt="<%= product.name %>">
    <p><%= product.description %></p>
    <p>Price: $<%= product.price %></p>
</div>